<section class="contacts">
  <h2 class="contacts-title">Fresh Harvest Box has got you covered</h2>
  <div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/contacts/img1desk@1x.jpg 1x,
          ./img/contacts/img1desk@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/contacts/img1tab@1x.jpg 1x,
          ./img/contacts/img1tab@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/contacts/img1mob@1x.jpg 1x,
          ./img/contacts/img1mob@2x.jpg 2x
        "
        type="image/jpg"
      />

      <img
        src="./img/contacts/img1mob@1x.jpg"
        alt="Melon"
        width="335"
        height="476"
      />
    </picture>
    <picture class="contacts-picture-two">
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/contacts/img2desk@1x.jpg 1x,
          ./img/contacts/img2desk@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/contacts/img2tab@1x.jpg 1x,
          ./img/contacts/img2tab@2x.jpg 2x
        "
        type="image/jpg"
      />

      <img
        src="./img/contacts/img2tab@1x.jpg"
        alt="Melon"
        width="344"
        height="480"
      />
    </picture>
  </div>
  <p class="contacts-text">
    Our boxes are packed with delicious, nutritious fruits and vegetables,
    perfect for anyone looking to eat healthier or support local farmers. Order
    your box today and start enjoying the best that nature has to offer!
  </p>
  <form class="contacts-form">
    <label class="contacts-label">
      <input
        class="contacts-mail"
        type="email"
        required
        placeholder="Enter email..."
    /></label>
    <button class="contacts-button" type="submit">Send</button>
  </form>
</section>
