<!-- Fruits (Сергій Мачигін) -->
<section class="fruit-section container" id="fruits">
  <h2 class="fruits-title">ORGANIC FRUITS</h2>
  <p class="fruit-text-p">
    Our organic fruits are hand-picked from local farms and delivered straight
    to your doorstep, ensuring that you get the freshest and most nutritious
    produce possible. We offer a wide selection of organic fruits grown without
    the use of harmful pesticides or chemicals.
  </p>
  <ul class="fruit-list">
    <li class="fruit-card-item one">
      <div class="fruit-card-container">
        <div class="fruit-text-box">
          <h3 class="fruit-title-card">Strawberry</h3>
          <p class="plant-p">Plant</p>
        </div>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/strawberry@1x.webp 1x,
            ./img/fruits-image/strawberry@2x.webp 2x
          "
          src="./img/fruits-image/strawberry@1x.webp"
          alt="Strawberry"
          width="295"
          loading="lazy"
        />
      </div>
      <div class="price-box">
        <p class="price-text">100 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item two">
      <div class="fruit-card-container">
        <div class="fruit-text-box">
          <h3 class="fruit-title-card">Banana</h3>
          <p class="plant-p">Plant</p>
        </div>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/banana@1x.webp 1x,
            ./img/fruits-image/banana@2x.webp 2x
          "
          src="./img/fruits-image/banana@1x.webp"
          alt="Banana"
          width="295"
          loading="lazy"
        />
      </div>
      <div class="price-box">
        <p class="price-text">80 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item three">
      <div class="fruit-card-container">
        <div class="fruit-text-box">
          <h3 class="fruit-title-card">Watermelon</h3>
          <p class="plant-p">Plant</p>
        </div>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/watermelon@1x.webp 1x,
            ./img/fruits-image/watermelon@2x.webp 2x
          "
          src="./img/fruits-image/watermelon@1x.webp"
          alt="Watermelon"
          width="295"
          loading="lazy"
        />
      </div>
      <div class="price-box">
        <p class="price-text">40 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item four">
      <div class="fruit-card-container">
        <div class="fruit-text-box">
          <h3 class="fruit-title-card">Lime</h3>
          <p class="plant-p">Plant</p>
        </div>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/lime@1x.webp 1x,
            ./img/fruits-image/lime@2x.webp 2x
          "
          src="./img/fruits-image/lime@1x.webp"
          alt="Lime"
          width="295"
          loading="lazy"
        />
      </div>
      <div class="price-box">
        <p class="price-text">60 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item five">
      <div class="fruit-card-container">
        <div class="fruit-text-box">
          <h3 class="fruit-title-card">Apple</h3>
          <p class="plant-p">Plant</p>
        </div>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/apple@1x.webp 1x,
            ./img/fruits-image/apple@2x.webp 2x
          "
          src="./img/fruits-image/apple@1x.webp"
          alt="Apple"
          width="295"
          loading="lazy"
        />
      </div>
      <div class="price-box">
        <p class="price-text">50 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item six">
      <div class="fruit-card-container">
        <div class="fruit-text-box">
          <h3 class="fruit-title-card">Peach</h3>
          <p class="plant-p">Plant</p>
        </div>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/peach@1x.webp 1x,
            ./img/fruits-image/peach@2x.webp 2x
          "
          src="./img/fruits-image/peach@1x.webp"
          alt="Peach"
          width="295"
          loading="lazy"
        />
      </div>
      <div class="price-box">
        <p class="price-text">80 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item seven">
      <div class="fruit-card-container">
        <div class="fruit-text-box">
          <h3 class="fruit-title-card">Plums</h3>
          <p class="plant-p">Plant</p>
        </div>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/plums@1x.webp 1x,
            ./img/fruits-image/plums@2x.webp 2x
          "
          src="./img/fruits-image/plums@1x.webp"
          alt="Plums"
          width="295"
          loading="lazy"
        />
      </div>
      <div class="price-box">
        <p class="price-text">40 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item eight">
      <div class="fruit-card-container">
        <div class="fruit-text-box">
          <h3 class="fruit-title-card">Orange</h3>
          <p class="plant-p">Plant</p>
        </div>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/orange@1x.webp 1x,
            ./img/fruits-image/orange@1x.webp 2x
          "
          src="./img/fruits-image/orange@1x.webp"
          alt="Orange"
          width="295"
          loading="lazy"
        />
      </div>
      <div class="price-box">
        <p class="price-text">60 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item nine">
      <div class="fruit-card-container">
        <div class="fruit-text-box">
          <h3 class="fruit-title-card">Kiwi</h3>
          <p class="plant-p">Plant</p>
        </div>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/kiwi@1x.webp 1x,
            ./img/fruits-image/kiwi@2x.webp 2x
          "
          src="./img/fruits-image/kiwi@1x.webp"
          alt="Kiwi"
          width="295"
          loading="lazy"
        />
      </div>
      <div class="price-box">
        <p class="price-text">90 UAH / kg</p>
      </div>
    </li>
  </ul>
  <div class="order-animation">
    <button class="order-btn button js-open-modal" type="button" data-modal="1">
      ORDER
      <svg class="fruit-btn-icon" width="14" height="14">
        <use href="./img/icons.svg#icon-vector"></use>
      </svg>
    </button>
  </div>
</section>
