<section class="fruit-section container" id="fruits">
  <h2 class="fruits-title">ORGANIC FRUITS</h2>
  <p class="fruit-text-p">
    Our organic fruits are hand-picked from local farms and delivered straight
    to your doorstep, ensuring that you get the freshest and most nutritious
    produce possible. We offer a wide selection of organic fruits grown without
    the use of harmful pesticides or chemicals.
  </p>

  <ul class="fruit-list">
    <li class="fruit-card-item one">
      <div class="fruit-card-container">
        <div class="fruit-text-box">
          <h3 class="fruit-title-card">Strawberry</h3>
          <p class="plant-p">Plant</p>
        </div>

        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/strawberry@1x.png 1x,
            ./img/fruits-image/strawberry@2x.png 2x
          "
          src="./img/fruits-image/strawberry@1x.png"
          alt="Strawberry"
          width="295"
          loading="lazy"
        />
      </div>
      <div class="price-box">
        <p class="price-text">100 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item two">
      <div class="fruit-card-container">
        <h3 class="fruit-title-card">Banana</h3>
        <p class="plant-p">Plant</p>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/banana@1x.png 1x,
            ./img/fruits-image/banana@2x.png 2x
          "
          src="./img/fruits-image/banana@1x.png"
          alt="Banana"
          width="295"
          height="304"
          loading="lazy"
        />
      </div>

      <div class="price-box">
        <p class="price-text">80 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item three">
      <div class="fruit-card-container">
        <h3 class="fruit-title-card">Watermelon</h3>
        <p class="plant-p">Plant</p>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/watermelon@1x.png 1x,
            ./img/fruits-image/watermelon@2x.png 2x
          "
          src="./img/fruits-image/watermelon@1x.png"
          alt="Watermelon"
          width="295"
          height="304"
          loading="lazy"
        />
      </div>

      <div class="price-box">
        <p class="price-text">40 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item four">
      <div class="fruit-card-container">
        <h3 class="fruit-title-card">Lime</h3>
        <p class="plant-p">Plant</p>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/lime@1x.png 1x,
            ./img/fruits-image/lime@2x.png 2x
          "
          src="./img/fruits-image/lime@1x.png"
          alt="Lime"
          width="295"
          height="304"
          loading="lazy"
        />
      </div>

      <div class="price-box">
        <p class="price-text">60 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item five">
      <div class="fruit-card-container">
        <h3 class="fruit-title-card">Apple</h3>
        <p class="plant-p">Plant</p>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/apple@1x.png 1x,
            ./img/fruits-image/apple@2x.png 2x
          "
          src="./img/fruits-image/apple@1x.png"
          alt="Apple"
          width="295"
          height="304"
          loading="lazy"
        />
      </div>

      <div class="price-box">
        <p class="price-text">50 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item six">
      <div class="fruit-card-container">
        <h3 class="fruit-title-card">Peach</h3>
        <p class="plant-p">Plant</p>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/peach@1x.png 1x,
            ./img/fruits-image/peach@2x.png 2x
          "
          src="./img/fruits-image/peach@1x.png"
          alt="Peach"
          width="295"
          height="304"
          loading="lazy"
        />
      </div>

      <div class="price-box">
        <p class="price-text">80 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item seven">
      <div class="fruit-card-container">
        <h3 class="fruit-title-card">Plums</h3>
        <p class="plant-p">Plant</p>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/plums@1x.png 1x,
            ./img/fruits-image/plums@2x.png 2x
          "
          src="./img/fruits-image/plums@1x.png"
          alt="Plums"
          width="295"
          height="304"
          loading="lazy"
        />
      </div>

      <div class="price-box">
        <p class="price-text">40 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item eight">
      <div class="fruit-card-container">
        <h3 class="fruit-title-card">Orange</h3>
        <p class="plant-p">Plant</p>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/orange@1x.png 1x,
            ./img/fruits-image/orange@1x.png 2x
          "
          src="./img/fruits-image/orange@1x.png"
          alt="Orange"
          width="295"
          height="304"
          loading="lazy"
        />
      </div>

      <div class="price-box">
        <p class="price-text">60 UAH / kg</p>
      </div>
    </li>
    <li class="fruit-card-item nine">
      <div class="fruit-card-container">
        <h3 class="fruit-title-card">Kiwi</h3>
        <p class="plant-p">Plant</p>
        <img
          class="fruit-img"
          srcset="
            ./img/fruits-image/kiwi@1x.png 1x,
            ./img/fruits-image/kiwi@2x.png 2x
          "
          src="./img/fruits-image/kiwi@1x.png"
          alt="Kiwi"
          width="295"
          height="304"
          loading="lazy"
        />
      </div>

      <div class="price-box">
        <p class="price-text">90 UAH / kg</p>
      </div>
    </li>
  </ul>
  <button class="order-btn button" type="button">
    ORDER
    <svg class="fruit-btn-icon" width="14" height="14">
      <use href="./img/icons.svg#icon-vector"></use>
    </svg>
  </button>
</section>
