<!-- how it works (Євген) -->

<section class="section how-it-works">
  <div class="h-i-w-title-box">
    <h2 class="h-i-w-title">
      To order your fruit basket, simply follow these easy steps
    </h2>
    <p class="h-i-w-paragraph">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
  </div>
  <div class="h-i-w-cards-box">
    <ul class="list h-i-w-cards-list">
      <li class="h-i-w-card step-one">
        <div class="h-i-w-card-box">
          <div class="h-i-w-steps-box first">
            <p class="h-i-w-steps">First Step</p>
          </div>
          <p class="h-i-w-card-text">
            Just choose the fruit you want to order by clicking on the
            checkboxes next to it.
          </p>
        </div>
      </li>
      <li class="h-i-w-card step-two">
        <div class="h-i-w-card-box">
          <div class="h-i-w-steps-box second">
            <p class="h-i-w-steps">Second Step</p>
          </div>
          <p class="h-i-w-card-text">
            Click on the basket and fill out the form.
          </p>
        </div>
      </li>
      <li class="h-i-w-card step-three">
        <div class="h-i-w-card-box">
          <div class="h-i-w-steps-box third">
            <p class="h-i-w-steps">Third Step</p>
          </div>
          <p class="h-i-w-card-text">
            Sit back and relax! Your fresh fruit basket will be delivered.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="h-i-w-gif-box">
    <img
      class="h-i-w-gif-img"
      src="./img/how-it-works/fruitgif.gif"
      alt="Fresh fruits"
    />
  </div>
</section>
