<!-- ==================-MODAL WINDOW==============-->
<!-- =================-CLOSE BUTTON===============-->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close" data-modal-close>
      <svg class="modal-close-icon" width="8" height="8">
        <use href=""></use>
      </svg>
    </button>
    <!-- ==================TEXT MODAL WINDOW=============== -->
    <h2 class="form-title">Your Order</h2>
    <!-- =======================LIST OF FRUITS========================== -->
    <div class="fruits-box">
      <label class="item-box">
        <input
          type="checkbox"
          name="products"
          value="strawberrys"
          class="product-check"
        />
        <label class="modal-text-box">
          <span class="modal-list-title">Strawberry Basket</span>
          <span class="modal-list-text">Plant</span>
        </label>
        <img
          src="../img/modal-order/mobile/strawberrys@1x.png"
          alt="Basket of strawberrys"
          class="product-img"
          width="88"
          height="95"
        />
      </label>
      <label class="item-box">
        <input type="checkbox" name="products" value="strawberrys" class="product-check" />
        <label class="modal-text-box">
          <span class="modal-list-title">Apple Basket</span>
          <span class="modal-list-text">Plant</span>
        </label>
        <img src="../img/modal-order/mobile/apples@1x.png" alt="Basket of strawberrys" class="product-img" width="106"
          height="95" />
      </label>
      <label class="item-box">
        <input type="checkbox" name="products" value="strawberrys" class="product-check" />
        <label class="modal-text-box">
          <span class="modal-list-title">Fruits Basket</span>
          <span class="modal-list-text">Plant</span>
        </label>
        <img src="../img/modal-order/mobile/fruits@1x.png" alt="Basket of strawberrys" class="product-img" width="107"
          height="95" />
      </label>
    </div>
    <!--=======================INPUT FIELDS==============================-->
    <form class="modal-form" autocomplete="off">
      <!-- ======USER NAME======== -->
      <label class="form-label">
        <input
          type="text"
          name="user-name"
          id="user_name"
          placeholder="Enter full name..."
          required
          pattern="^[a-zA-Zа-яА-ЯіІїЇ]+$"
          minlength="2"
          class="form-input"
        />
      </label>
      <!-- ========USER EMAIL======== -->
      <label class="form-label">
        <input
          type="email"
          name="user-email"
          id="user_email"
          placeholder="Enter email..."
          required
          class="form-input"
        />
      </label>
      <!-- ===========USER CARD============= -->
      <label class="form-label">
        <input
          type="tel"
          name="user-card"
          id="user_card"
          placeholder="Enter card..."
          required
          pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
          title="xxxx-xxxx-xxxx-xxxx"
          class="form-input"
        />
      </label>
      <!-- ========COMMENTS============ -->
      <label class="form-label">
        <textarea
          name="comment"
          id="user_comment"
          placeholder="Enter comments..."
          class="text-area"
        ></textarea>
      </label>
      <!--============BUTTON SUBMIT===========-->
      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </div>
</div>

<!-- 
      <ul class="fruits-box list">
        <li class="item">
          <div class="modal-text-box">
            <h3 class="modal-list-title">Strawberry Basket</h3>
            <p class="modal-list-text">Plant</p>
          </div>
          <img class="product-img" src="../img/modal-order/mobile/strawberrys@1x.png" alt="basket with strawberrys" width="88"
            height="95" loading="lazy" />
      
          <label class="product-check">
            <input type="checkbox" name="products" value="strawberrys" checked />
          </label>
        </li>
        <li class="item">
          <div class="modal-text-box">
            <h3 class="modal-list-title">Apple Basket</h3>
            <p class="modal-list-text">Plant</p>
          </div>
          <img class="product-img" src="../img/modal-order/mobile/apples@1x.png" alt="box with apples" width="106"
            height="95" />
          <label class="product-check">
            <input type="checkbox" name="products" value="apples" />
          </label>
        </li>
        <li class="item">
          <div class="modal-text-box">
            <h3 class="modal-list-title">Fruits Basket</h3>
            <p class="modal-list-text">Plant</p>
          </div>
          <img class="product-img" src="../img/modal-order/mobile/fruits@1x.png" alt="basket with fruits" width="107"
            height="95" />
          <label class="product-check">
            <input type="checkbox" name="products" value="fruits" />
          </label>
        </li>
      </ul> -->
