<!-- Modal window -->
<div class="background is-hidden" data-modal>
  <div class="modal">
    <button class="modal-btn" type="button" data-modal-close>
      <svg class="modal-icon" width="12" height="12">
        <!-- <use href="./images/icon.svg#icon-close-black"></use> -->
      </svg>
    </button>

    <img
      class="modal-img"
      src="../img/modal2/kisspng-juice-frutti-di-bosco-raspberry-fruit-strawberry-berries-png-file-5a748ade7ae8b2 1mob@1x.png"
      alt=""
      width="238"
      height="239"
    />

    <h2 class="modal-title">THANK YOU</h2>
    <p class="modal-text">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</div>
