:root {
  /**
    |============================
    | Color text
    |============================
  */
  --text-withe-color: #ffffff;
  --text-black-color: #000000;
  --text-red-color: #ae1332;

  /**
    |============================
    | Background-color
    |============================
  */
  --red-color: #ae1332;
  --black-color: #000000;
  --white-color: #ffffff;
  --green-color: #a4cb66;
  --yellow-color: #f5ce13;
  /**
    |============================
    | Modal-order
    |============================
  */
  --strawberry-color: #f8766b;
  --apple-color: #edd251;
  --fruits-color: #9dc262;
  --duration-timing-func: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-z: 100;
}

body {
  /* text */
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  /* color */
  background-color: var(--red-color);
  color: var(--text-withe-color);
}

.container {
  /* Phone styles */
  min-width: 320px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Tablet style */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Desktop style */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
