:root {
    --transition-dur-timing-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
    .nav {
        display: none;
    }

    .button-basket {
        display: none;
    }

    .menu-mobile-open {
        padding: 0;

        line-height: 0;

        background-color: transparent;

        border: none;
    }
    .menu-mobile-open-icon {
        fill: var(--text-red-color);
        }
}

.header {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: var(--white-color);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;

    font-weight: 700;

    text-transform: uppercase;
    color: var(--text-red-color);

    fill: var(--text-red-color);
}

@media screen and (min-width: 768px) {
    .menu-mobile-open {
        display: none;
    }
    .basket {
        fill: var(--text-red-color);
    }

    .mobile-menu {
        display: none;
    }

    .button-basket {
        margin-left: auto;
        padding: 0;

        line-height: 0;

        background-color: transparent;

        border: none;
    }

    .header-link {

        color: var(--text-red-color);
    }

    .header-list {
        margin-right: 94px;

        display: flex;
        align-items: center;
        text-align: center;
        gap: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .header-list {
        margin-right: 322px;
    }
}
.mobile-menu {
    position: fixed;
    z-index: 1000;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

   
    opacity: 0;

    background-color: var(--text-red-color);

    transform: translateX(100%);
    transition: transform var(--transition-dur-timing-func), opacity var(--transition-dur-timing-func);
}

.mobil-menu-modal {
    position: relative;
    padding-top: 124px;
    display: flex;
    flex-direction: column;

}

.mobile-menu.is-open {
    opacity: 1;

    transform: translateY(50px);
    transition: transform var(--transition-dur-timing-func), opacity var(--transition-dur-timing-func);
}

.mobile-menu-close {
    position: absolute;
    top: -37px;
    right: 20px;
    width: 24px;
    height: 24px;

    margin-left: auto;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 0;
    border: none;
    background-color: var(--white-color);
}

.mobile-menu-close-icon {
    stroke: var(--text-red-color);
}
.button-basket-mobil {

    padding: 0;

    line-height: 0;

    background-color: transparent;
    fill: var(--white-color);
    border: none;
}
.mobil-nav-list {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
