/* ======================= Hero ========================== */
/* Hero upper part */
.hero-container {
    padding-bottom: 80px;
  
    background-color: var(--red-color);
  }
  
  .hero-upper-part {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin-bottom: 44px;
  }
  
  .hero-header {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  }
  
  .hero-girl-img {
    border-radius: 500px;
    background-color: var(--white-color);
  }
  
  .hero-girl-container {
    outline: 1px solid white;
    outline-offset: 12px;
    border-radius: 500px;
  }
  
  .hero-btn {
    padding: 20px 12px;
    width: 80px;
    height: 80px;
  
    border: none;
    border-radius: 50%;
    background-color: var(--white-color);
  
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
  
  .hero-btn-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    color: var(--red-color);
  }
  
  .hero-text-container {
    display: block;
    max-width: 279px;
    margin: 0 auto 44px;
  }
  
  .hero-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
  }
  
  
  
  /* ======================= /Hero ========================== */