.hero-section {
  padding-top: 104px;
  padding-bottom: 40px;
  color: var(--text-withe-color);
}

@media only screen and (min-width: 768px) {
  .hero-section {
    padding-top: 122px;
    padding-bottom: 65px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-section {
    padding-bottom: 75px;
  }
}

/**
    |============================
    | hero-container
    |============================
  */
.hero-section .container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 48px;

  background-image: url(../img/images-hero/banana-mobile@1x.webp),
    url(../img/images-hero/strawberry-mobile@1x.webp);
  background-position: 10px 55px, 100% 4px;
  background-repeat: no-repeat;

  background-size: 66px, 56px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-section .container {
    background-image: url(../img/images-hero/banana-mobile@2x.webp),
      url(../img/images-hero/strawberry-mobile@2x.webp);
  }
}

@media only screen and (min-width: 768px) {
  .hero-section .container {
    background-image: url(../img/images-hero/banana-tab@1x.webp),
      url(../img/images-hero/strawberry-tab@1x.webp);
    background-position: 12px 86px, 97% -20px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 140px;
    padding-top: 26px;
    background-size: 132px, 115px;
  }
}

@media only screen and (min-width: 768px) {

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section .container {
      background-image: url(../img/images-hero/banana-tab@2x.webp),
        url(../img/images-hero/strawberry-tab@2x.webp);
    }
  }
}


@media only screen and (min-width: 1280px) {
  .hero-section .container {
    flex-wrap: nowrap;
    justify-content: space-between;

    column-gap: 86px;
    padding-top: 0;
    padding: 0 62px;
    background-image: url(../img/images-hero/banana-desk@1x.webp),
      url(../img/images-hero/strawberry-desk@1x.webp);
    background-position: 19% 114px, 84% -28px;
    background-size: 190px, 130px;
  }
}

@media only screen and (min-width: 1280px) {

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section .container {
      background-image: url(../img/images-hero/banana-desk@2x.webp),
        url(../img/images-hero/strawberry-desk@2x.webp);
    }
  }
}

/**
    |============================
    | hero-title
    |============================
  */
.hero-title {
  position: absolute;
  top: 8px;
  z-index: 2;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 50px;
    line-height: 1.08;
    max-width: 710px;
    top: -7px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title {
    font-size: 64px;
    line-height: 1;
    max-width: 912px;
    top: 0px;
    right: 13%;
  }
}

/**
    |============================
    | left
    |============================
  */
.hero-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

@media only screen and (min-width: 768px) {
  .hero-left {
    width: calc((100% - 142px) / 2);
  }
}

@media only screen and (min-width: 1280px) {
  .hero-left {
    max-width: 249px;
    margin-top: 350px;
    order: 1;
  }
}

/**
    |============================
    | text
    |============================
  */
.hero-text {
  margin-bottom: 44px;
  max-width: 273px;
  text-align: start;
  font-size: 14px;
  line-height: 1.29;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .hero-text {
    max-width: 279px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-text {
    max-width: 222px;
  }
}

.text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 61px;
}

.wraper-left,
.wraper-right {
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 249px;
  height: 387px;

  background-color: var(--green-color);
  border-radius: 500px;
  padding: 28px 25px 40px 24px;
}

@media only screen and (min-width: 768px) {
  .wraper-left {
    align-self: end;
    margin-bottom: 0;
  }
}

.wraper-left>img {
  margin-bottom: 2px;
}

.hero-subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.text-green {
  width: 155px;
}

.text-yellow {
  width: 163px;
}

/**
    |============================
    | center
    |============================
  */
.hero-center {
  margin-bottom: 71px;
  position: relative;
  order: 1;
}

@media only screen and (min-width: 768px) {
  .hero-center {
    margin-bottom: 79px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-center {
    margin-bottom: 103px;
  }
}

.hero-img {
  position: relative;
  z-index: -1;

  margin: 0 auto;
  padding: 12px 12px 13px;
  max-width: inherit;
  border-radius: 500px;
  background: linear-gradient(rgba(174, 19, 50), rgba(174, 19, 50)) padding-box,
    linear-gradient(to top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.27),
      rgba(255, 255, 255, 0)) border-box;
  border: 1.5px solid transparent;
}

@media only screen and (min-width: 768px) {
  .hero-img {
    padding: 20px 17px;
  }
}

.btn-animation {
  animation: jello-vertical 1.2s 4s 5 both;

}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.btn-link {
  position: absolute;

  bottom: -30px;
  right: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;


  background-color: var(--white-color);
  border-radius: 50%;

  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);
}

.btn-link-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  color: var(--text-red-color);
}

.btn-link-text:hover,
.btn-link-text:focus {
  color: var(--green-color);
}

@media only screen and (min-width: 768px) {
  .btn-link {
    width: 114px;
    height: 114px;
    font-size: 28px;
    bottom: -18px;
    right: 38%;
  }

  .btn-link-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    color: var(--text-red-color);
  }
}

/**
    |============================
    | right
    |============================
  */
.hero-right {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  order: 3;
}

@media only screen and (min-width: 768px) {
  .hero-right {
    width: 40%;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-right {
    width: auto;
    /* margin-top: auto; */
  }
}

.wraper-right {
  background-color: var(--yellow-color);
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .wraper-right {
    margin-bottom: 44px;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .wraper-right {
    margin-left: auto;
    margin-right: 0;
  }
}

.list-btn {
  margin-bottom: 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

@media only screen and (min-width: 1280px) {
  .list-btn {
    position: absolute;
    bottom: -88px;
    right: -18px;
  }
}

.hero-link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;

  border: 1px solid var(--white-color);
  border-radius: 1000px;
}

.hero-link-item:nth-child(3) {
  padding-left: 37px;
  padding-right: 37px;
}

.hero-link-item:nth-child(4) {
  padding-left: 43px;
  padding-right: 43px;
}

.hero-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .list-btn {
    justify-content: end;
    margin-bottom: 0;
  }

  .hero-link-item:nth-child(3) {
    padding: 12px 32px;
  }

  .hero-link-item:nth-child(4) {
    padding: 12px 32px;
  }

  .hero-link {
    width: auto;
  }

  .hero-link-m {
    width: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .list-btn {
    width: 268px;
  }
}