/* How it work */

/* .how-it-works {
  padding-top: 40px;
} */

@media only screen and (max-width: 374px) {
  .h-i-w-title-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 14px;
    width: 100%;
    height: auto;
    margin-bottom: 44px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

@media only screen and (min-width: 375px) {
  .h-i-w-title-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 14px;
    width: 335px;
    height: auto;
    margin-bottom: 44px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .h-i-w-title-box {
    width: 625px;
  }
}

@media only screen and (max-width: 374px) {
  .h-i-w-title {
    width: calc(100vw - 30px);
    font-style: normal;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--white-color);
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (min-width: 375px) {
  .h-i-w-title {
    width: 100%;
    font-style: normal;
    font-size: 28px;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--white-color);
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (min-width: 768px) {
  .h-i-w-title {
    font-size: 40px;
    line-height: 1.1;
  }
}

@media only screen and (max-width: 374px) {
  .h-i-w-paragraph {
    width: calc(100vw - 30px);

    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--white-color);
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (min-width: 375px) {
  .h-i-w-paragraph {
    width: 100%;
    font-size: 14px;
    line-height: 1.28;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--white-color);
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  }
}
@media only screen and (min-width: 768px) {
  .h-i-w-paragraph {
    width: 509px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media only screen and (max-width: 374px) {
  .h-i-w-cards-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
  }
}

@media only screen and (min-width: 375px) {
  .h-i-w-cards-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
  }
}

/* 
@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1280px) {
} */

@media only screen and (max-width: 374px) {
  .h-i-w-cards-list {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 375px) {
  .h-i-w-cards-list {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
  }
}

@media only screen and (min-width: 1280px) {
  .h-i-w-cards-list {
    flex-direction: row;
  }
}

@media only screen and (max-width: 374px) {
  .h-i-w-card {
    width: calc(100vw - 30px);
    background: var(--white-color);
    border-radius: 20px;
  }
}
@media only screen and (min-width: 375px) {
  .h-i-w-card {
    width: 335px;
    background: var(--white-color);
    border-radius: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .h-i-w-card {
    width: 389px;
  }
}

@media only screen and (max-width: 374px) {
  .h-i-w-card-box {
    width: 100%;
    min-height: 112px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 14px;
  }
}

@media only screen and (min-width: 375px) {
  .h-i-w-card-box {
    width: 100%;
    min-height: 112px;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .h-i-w-card-box {
    padding: 40px 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
  }
}

.h-i-w-steps-box {
  width: 136px;
  height: 48px;
  border-radius: 200px;
  padding: 12px;
  text-align: center;
}

.card-img {
}
.h-i-w-steps {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: -0.04em;
  color: var(--white-color);
  animation: tracking-in-contract-bck 1500ms cubic-bezier(0.215, 0.61, 0.355, 1)
    1800ms both;
}

@media only screen and (max-width: 374px) {
  .h-i-w-card-text {
    display: flex;
    /* width: calc(100vw - 30px); */
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.28;
    align-items: center;
    text-align: start;
    letter-spacing: -0.04em;
    color: var(--text-black-color);
  }
}

@media only screen and (min-width: 375px) {
  .h-i-w-card-text {
    display: flex;
    width: 145px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    align-items: center;
    text-align: start;
    letter-spacing: -0.04em;
    color: var(--text-black-color);
  }
}

@media only screen and (min-width: 768px) {
  .h-i-w-card-text {
    width: 199px;
  }
}

.h-i-w-steps-box.first {
  background: var(--red-color);
}
.h-i-w-steps-box.second {
  background-color: var(--green-color);
}
.h-i-w-steps-box.third {
  background-color: var(--yellow-color);
}
.h-i-w-gif-box {
}
.h-i-w-gif-img {
}
