/**
  |============================
  |     Modal window 1
  |============================
*/
.backdrop-o {
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;

  width: 100%;
  height: 100%;

  z-index: 1200;

  background-color: rgba(46, 47, 66, 0.6);

  opacity: 0;
  pointer-events: none;
  transition: opacity var(--duration-timing-func),
    visibility var(--duration-timing-func);
}

.backdrop-o.active {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 250ms;
}

.backdrop-o.active+.hidden-backdrop {
  z-index: 1201;
}

.hidden-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;

  width: 100%;
  height: 100%;

  z-index: -1;

  pointer-events: auto;
}

.modal-o {
  position: absolute;
  top: 51%;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  z-index: 1300;

  transform: translate(-100%, 100%) rotate(0deg) scale(0.01);
  transition: transform var(--duration-timing-func) 250ms,
    opacity var(--duration-timing-func) 250ms;
}



.modal-o.active {

  transform: translate(-50%, -50%) rotate(360deg) scale(1);
  opacity: 1;
  visibility: visible;


  padding: 20px;

  width: 335px;
  min-height: 740px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--white-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  transition: transform var(--duration-timing-func) 250ms,
    opacity var(--duration-timing-func) 250ms;
}

@media only screen and (max-width: 374px) {
  .modal-o.active {
    width: calc(100% - 40px);
  }
}

/* -----------------TABLET MODAL WINDOW---------- */
@media only screen and (min-width: 768px) {
  .modal-o.active {
    width: 704px;
    min-height: 756px;
    padding: 40px;
    background-repeat: no-repeat;
    background-size: auto 417px;
    background-position: bottom right;
    background-image: url(../img/modal-order/tablet/banana_girl_tab@1x.jpg);
  }
}

/* ----------RETINA TABLET WINDOW---------------- */
@media only screen and (min-width: 768px) {

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .modal-o.active {
      width: 704px;
      min-height: 756px;
      padding: 40px;
      background-repeat: no-repeat;
      background-size: auto 417px;
      background-position: bottom right;
      background-image: url(../img/modal-order/tablet/banana_girl_tab@2x.jpg);
    }
  }
}

/* --------------DESKTOP WINDOW------------------ */
@media only screen and (min-width: 1280px) {
  .modal-o.active {
    width: 891px;
    min-height: 860px;

    background-size: auto 420px;
    background-position: bottom right;
    background-image: url(../img/modal-order/desktop/banana_girl_desk@1x.jpg);
  }
}

/* -----------RETINA DESCTOP WINDOW--------- */
@media only screen and (min-width: 1280px) {

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .modal-o.active {
      width: 891px;
      min-height: 860px;

      background-size: auto 420px;
      background-position: bottom right;
      background-image: url(../img/modal-order/desktop/banana_girl_desk@2x.jpg);
    }
  }
}

/* ------------------MODAL BUTTON------------------- */
.modal-close {
  position: absolute;
  top: 22px;
  right: 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  width: 24px;
  height: 24px;

  background-color: var(--withe-color);
  color: var(--red-color);
  cursor: pointer;
  border: none;

  transition: background-color var(--duration-timing-func);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--);
}

.modal-close-icon {
  fill: var(--red-color);
  width: 24px;
  height: 24px;
}

/* ----------------TEXT OF MODAL WINDOW--------------- */
.form-title {
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  color: var(--red-color);
}

/* --------TABLET WINDOW---------------- */
@media only screen and (min-width: 768px) {
  .form-title {
    font-size: 40px;
    line-height: 1.1;
  }
}

/* -----------------LIST OF FRUITS----------- */
.fruits-box {
  display: block;
  margin-bottom: 40px;
}

.item-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  border-radius: 20px;
}

.item-box:nth-child(1) {
  background-color: var(--strawberry-color);
}

.item-box:nth-child(2) {
  background-color: var(--apple-color);
}

.item-box:nth-child(3) {
  background-color: var(--fruits-color);
  margin-bottom: 0px;
}

/* ---------TABLET WINDOW----------- */
@media only screen and (min-width: 768px) {
  .fruits-box {
    display: flex;
    gap: 12px;
  }

  .item-box {
    display: block;
    margin-bottom: 0;
    width: calc((100% - 24px) / 3);
  }
}

.modal-text-box {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}

/* ---------TABLET WINDOW----------- */
@media only screen and (min-width: 768px) {
  .modal-text-box {
    margin-top: 40px;
  }
}

.modal-list-title {
  display: block;
  margin-bottom: 2px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.04em;

  color: var(--withe-color);
}

.modal-list-text {
  display: block;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  color: var(--withe-color);
}

.product-img {
  margin-top: 16px;
  margin-bottom: 8px;
  margin-right: 32px;
}

/* ---------TABLET WINDOW----------- */
@media only screen and (min-width: 768px) {
  .product-img {
    margin: 4px auto 14px;

  }
}

.agreement {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

@media only screen and (min-width: 768px) {
  .agreement {
    width: 20px;
    height: 20px;
  }
}

.product-check {
  appearance: none;
}

.check-icon-unchecked {
  opacity: 1;
  transition: opacity var(--duration-timing-func);
}

.check-icon-checked {
  opacity: 0;
  transition: opacity var(--duration-timing-func);
}

.product-check:checked+.check-icon>.check-icon-unchecked {
  opacity: 0;
}

.product-check:checked+.check-icon>.check-icon-checked {
  opacity: 1;
}

/* -----------------INPUT FIELDS----------- */
.input-fields {
  display: block;
  max-width: 360px;
  overflow: auto;
  padding: 2px;
}

.form-label {
  display: block;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--subtle-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;

  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  outline: none;
  transition: outline var(--duration-timing-func),
    border var(--duration-timing-func);

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;

  color: var(--text-black-color);
}

.form-input:focus {
  outline: 1px solid var(--fruits-color);
  border: none;
  width: calc(100%-2%);
}

.form-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form-input:invalid:not(:placeholder-shown) {
  outline-color: var(--red-color);
}

/* ----------------------TEXT AREA OF FORM------------- */
.text-area {
  display: block;
  width: 100%;
  height: 132px;
  padding: 14px 24px;
  margin-bottom: 20px;
  resize: none;
  overflow: auto;

  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  outline: 1px solid transparent;
  transition: outline var(--duration-timing-func),
    border var(--duration-timing-func);

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.text-area:focus {
  outline-color: var(--fruits-color);
  border: transparent;
}

.text-area::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.submit-btn {
  display: block;

  cursor: pointer;
  margin: 0;
  padding: 12px 24px;
  min-width: 90px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: capitalize;

  color: var(--text-withe-color);

  background-color: var(--fruits-color);
  transition: background-color var(--duration-timing-func),
    color var(--duration-timing-func), outline var(--duration-timing-func);

  border-radius: 100px;
  border: none;
  outline: 2px solid transparent;
}

.submit-btn:hover,
.submit-btn:focus {
  outline: 2px solid var(--green-color);

  background-color: var(--white-color);
  color: var(--green-color);
}

/* ----------TABLET WINDOW--------------- */
@media only screen and (min-width: 768px) {
  .submit-btn {
    min-width: 114px;
    padding: 15px 35px;
  }
}