/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./how-it-works.css');
@import url('./fruits.css');
@import url('./contacts.css');
@import url('./footer.css');
@import url('./modal.css');
@import url('./thank-you.css');

:root {
  /**
    |============================
    | Color text
    |============================
  */
  --text-withe-color: #ffffff;
  --text-black-color: #000000;
  --text-red-color: #ae1332;

  /**
    |============================
    | Background-color
    |============================
  */
  --red-color: #ae1332;
  --black-color: #000000;
  --white-color: #ffffff;
  --green-color: #a4cb66;
  --yellow-color: #f5ce13;
}

body {
  /* text */
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  /* color */
  background-color: var(--red-color);
  color: var(--text-withe-color);
}

.container {
  /* Phone styles */
  min-width: 320px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Tablet style */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Desktop style */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
