/**
  |============================
  |     Modal window 2
  |============================
*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;

  width: 100%;
  height: 100%;

  z-index: 9999;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  pointer-events: none;

  transition: opacity var(--duration-timing-func),
    visibility var(--duration-timing-func);
}

.modal-active {
  opacity: 1;
  pointer-events: all;
}

.modal-thank {
  transform: translate(-50%, -50%) rotate(0deg) scale(0.01);
  opacity: 0;
  visibility: hidden;
  transition: transform var(--duration-timing-func) 250ms,
    opacity var(--duration-timing-func) 250ms;
}

.modal-thank {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;

  padding-top: 68px;
  padding-bottom: 80px;

  width: 335px;
  min-height: 426px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e03f5e;
  border-radius: 20px;

  transition: transform var(--duration-timing-func) 250ms,
    opacity var(--duration-timing-func) 250ms;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .modal-thank {
    width: calc(100% - 30px);
  }
}

@media only screen and (min-width: 768px) {
  .modal-thank {
    width: 600px;
    min-height: 545px;
    padding: 68px 104px 80px 104px;
  }
}

.modal-btn {
  position: absolute;
  right: 20px;
  top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 28px;
  height: 28px; */
  color: var(--white-color);
  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;
}

.modal-close-iconx {
  stroke: var(--white-color);
}

.modal-img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .modal-img {
    margin-bottom: 28px;
  }
}

.modal-title {
  margin-bottom: 14px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.04em;

  color: var(--text-withe-color);

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.modal-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.04em;

  color: var(--text-withe-color);

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
